@font-face {
  font-family: PT Sans Narrow;
  font-weight: normal;
  font-style: normal;
  src: local("PT Sans Narrow"), url("../fonts/ptsansnarrow.woff2");
}

@font-face {
  font-family: PT Sans Narrow;
  font-weight: bold;
  font-style: normal;
  src: local("PT Sans Narrow"), url("../fonts/ptsansnarrowbold.woff2");
}

/* * {
  outline: 2px dotted red;
  outline-offset: -2px;
}*/

body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  
  
  background-color: #000000;
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0px 10px;
}

.inner-page .main-header {
  background-color: #000000;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: #000000;
  height: 70px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  
  background-color: transparent;
}

.main-header-logo {
  width: 368px;
  height: 153px;
  order: 1;
}

.inner-page .main-header-logo {
  width: 111px;
  height: 24px;
  order: 0;
  
  padding: 23px 20px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.inner-page .main-navigation {
  justify-content: flex-start;
  flex-direction: row;
}

.site-navigation,
.user-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.user-navigation {
  max-width: 140px;
  display: flex;
}

.user-navigation .login {
  position: relative;
  padding-left: 50px;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.site-navigation {
  width: 620px;
  display: flex;
}

.inner-page .site-navigation {
  width: 540px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features {
  margin-bottom: 85px;
}

.features-items {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  position: relative;
  width: 300px;
  text-align: center;
}

.features-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.features-item h3::after {
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 80px;
  left: 140px;
  transform: rotate(45deg);
  background-color: #ffffff;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
  
  color: #000000;
  background-color: #f8f5f2;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.news {
  width: 380px;
}

.news-list {
  list-style: none;
}

.news-items time {
  text-transform: none;
}

.button {
  font: inherit;
  
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  
  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.gallery {
  width: 300px;
}

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}
.appointment-item input {
  font: inherit;
  
  border: 2px solid #000000;
}

.contacts {
  width: 330px;
}

.appointment {
  width: 300px;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.main-footer {
  display: flex;
  
  color: #ffffff;
  
  background-color: #222222;
  background-image: url("../img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}



.social-button {
  color: #ffffff;
}

.footer-copyright {
  margin-left: auto;
  
  color: #ffffff;
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;
  
  background-color: #ffffff;
}

.modal {
  color: #000000;
  background-color: #f8f5f2;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  color: #663d15;
}


.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:focus,
.restore:hover {
  text-decoration: none;
}

.inner-page {
  color: #000000;
  
  background-color: #f9f6f3;
  background-image: url(../img/pattern-light.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.main-title {
  font-size: 30px;
  line-height: 42px;  
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.breadcrumbs a {
  color: #000000;
  
  background-color: #ffffff;
  background-image: url(../img/pattern-light.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.breadcrumbs-item {
  margin-right: 20px;
}

.breadcrumbs-item:last-child {
  margin-right: 0px;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.catalog-index-column {
  display: flex;
  justify-content: space-between; 
}

.catalog-filter {
  width: 180px;
}

.catalog-filter_item {
  margin: 20px 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}


.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
  padding: 0;
  margin: 0;
  
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  
  background-color: #f8f8f8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 5px 0 25px rgba(0, 0, 0, 0.3);
}

.catalog-item_title {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  
  background-color: #ffffff;
}

.catalog-item_category {
  text-transform: none;
}

.catalog-item_price b {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  
  background-color: #e5e5e5;
}

.catalog-item_price .button {
  color: #ffffff;
  line-height: 14px;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin-left: 240px;
  list-style: none;
}

.pagination-item {
  display: block;
  width: 43px;
  height: 43px;
}

.pagination-item a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  
  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  
  background-color: #663d15;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  
  background-color: #ffffff;
}

.item-image-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-image {
  margin-bottom: 20px;
  
  background-color: #f8f8f8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.item-image:hover {
  box-shadow: 5px 0 25px rgba(0, 0, 0, 0.3);
}

.catalog-item-summary {
  width: 390px;
  
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  
  background-color: #ffffff;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.item-partnumber {
  color: #aeaeae;
  text-align: right;
}

.catalog-item-summary h3 {
  font-size: 24px;
  line-height: 30px;
}

.consist {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-contacts {
  margin-right: 90px;
}



.item-image-column {
  display: flex;
  justify-content: space-between;
}

.catalog-item-image {
  width: 460px;
  margin-bottom: 50px;
}

.item-availability {
  padding: 0;
  margin: 0;
}


