@font-face {
  font-family: PT Sans Narrow;
  font-weight: normal;
  font-style: normal;
  src: local("PT Sans Narrow"), url("../fonts/ptsansnarrow.woff2");
}

@font-face {
  font-family: PT Sans Narrow;
  font-weight: bold;
  font-style: normal;
  src: local("PT Sans Narrow"), url("../fonts/ptsansnarrowbold.woff2");
}

/* * {
  outline: 2px dotted red;
  outline-offset: -2px;
}*/

body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  
  
  background-color: #000000;
  background-image: url("../img/background.jpg");
  background-position: center 40px;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0px 10px;
}

.inner-page .main-header {
  background-color: #000000;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  
  background-color: transparent;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: #000000;
}

.main-header-logo {
  width: 368px;
  height: 153px;
  order: 1;
}

.main-header {
  margin-bottom: 70px;
}

.inner-page .main-header-logo {
  width: 111px;
  height: 24px;
  order: 0;
  
  padding: 23px 20px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.inner-page .main-navigation {
  justify-content: flex-start;
  flex-direction: row;
}

.site-navigation,
.user-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.user-navigation {
  max-width: 140px;
  display: flex;
}

.user-navigation .login {
  position: relative;
  padding-left: 50px;
}

.login::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 24px;
  
  width: 16px;
  height: 18px;
  
  background-image: url("../img/login.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  
  opacity: 0.3;
}

.login:hover::before,
.login:active::before,
.login:focus::before {
  opacity: 1;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.site-navigation {
  width: 620px;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features {
  margin-bottom: 80px;
}

.features-items {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  width: 300px;
  text-align: center;
}

.features-item h3 {
  position: relative;
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 60px;
}

.features-item h3::after {
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50px;
  left: 45%;
  transform: rotate(45deg);
  background-color: #ffffff;
}

.features-item p {
  margin: 0 10px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 30px;
  
  color: #000000;
  background-color: #f8f5f2;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px; 
}

.news {
  width: 380px;
  margin: 0;
  padding: 0;
}

.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.news-items {
  margin-bottom: 25px;
}

.news-items p {
  margin: 0;
}

.news-items time {
  text-transform: none;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 16px;
  
  font: inherit;
    color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  
  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 100%;
  height: auto;
}

.button-gallery {
  width: 140px;
  margin: 0;
}

.contacts {
  width: 330px;
}

.contacts p{
  margin: 0;
  margin-bottom: 25px;
}

.appointment {
  width: 300px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.appointment-info {
  margin: 0;
}

.appointment-item {
  width: 140px;
  margin: 0;
}

.appointment-item label {
  display: block;
  margin: 9px 15px;
}

.appointment-item input {
  width: 140px;
  box-sizing: border-box;
  padding: 8px 15px;
  
  font: inherit;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.appointment-button {
  margin: 0;
  margin-top: 20px;
  width: 100%;
}

.main-footer {
  padding: 60px 0;
  margin-top: 65px;
  
  color: #ffffff;
  
  background-color: #222222;
  background-image: url("../img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.inner-page .main-footer {
  margin-top: 45px;

  background-image:
    linear-gradient(to bottom, black, transparent),
    url("img/pattern-dark.jpg");
  background-size: 10px 40px, auto;
  background-position: 0 0;
  background-repeat: repeat-x, repeat;
}

.main-footer .container {
  display: flex;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  
  background-color: #000000;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path,
.social-button:active path {
  fill: #000000;
}

.footer-copyright {
 
  width: 150px;
  margin-left: auto;
  
  color: #ffffff;
  text-align: center;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;
  
  background-color: #ffffff;
}

.modal {
  display: none;
  color: #000000;
  background-color: #f8f5f2;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.modal-description {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.modal-login {
  position: fixed;
  top: 120px;
  left: 50%;
  width: 300px;
  padding: 55px 80px;
  margin-left: -230px;
}

.login-form p {
  margin: 0;
  margin-bottom: 10px; 
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 300px;
  box-sizing: border-box;
  
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  
  padding: 10px 40px 10px 15px;
  
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  color: #663d15;
}

.login-password-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
}

input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input[type="checkbox"]:checked + .checkbox-indicator::before,
input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:focus,
.restore:hover {
  text-decoration: none;
}

.modal-map {
  position: fixed;
  top: 50%;
  left: 50%;
  
  width: 780px;
  height: 570px;
  margin-top: -280px;
  margin-left: -390px;
  
  border: 7px solid #ffffff;
}

.modal-map p {
  margin: 0;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: -34px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  font-size: 0;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.inner-page {
  color: #000000;
  
  background-color: #f9f6f3;
  background-image: url(../img/pattern-light.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.main-title {
  font-size: 30px;
  line-height: 42px;  
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.breadcrumbs a {
  position: relative;
  color: #000000;
  
  background-color: #ffffff;
  background-image: url(../img/pattern-light.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.breadcrumbs-item {
  margin-right: 20px;
}

.breadcrumbs-item:last-child {
  margin-right: 0px;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -15px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
}

.catalog-index-column {
  display: flex;
  justify-content: space-between; 
}

.catalog-filter {
  width: 180px;
}

.catalog-filter_item {
  margin: 20px 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}


.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
  padding: 0;
  margin: 0;
  
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  
  background-color: #f8f8f8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 5px 0 25px rgba(0, 0, 0, 0.3);
}

.catalog-item_title {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 18px;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  
  background-color: #ffffff;
}

.catalog-item_title span {
  width: 100%;
}

.catalog-item_category {
  text-transform: none;
}

.catalog-item a {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item_image {
  order: -1;
  margin: 0;
}

.catalog-item_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px;
  margin-right: 0;
  padding: 0;
}

.catalog-item_price b {
  width: 110px;
  padding: 7px 0 8px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  
  background-color: #e5e5e5;
}

.catalog-item_price .button {
  color: #ffffff;
  line-height: 14px;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin-left: 240px;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
  width: 43px;
  height: 43px;
}

.pagination-item a {
  display: block;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  
  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  
  background-color: #663d15;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  
  background-color: #ffffff;
}

.item-image-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-image {
  margin-bottom: 20px;
  
  background-color: #f8f8f8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.item-image:hover {
  box-shadow: 5px 0 25px rgba(0, 0, 0, 0.3);
}

.catalog-item-summary {
  width: 390px;
  
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  
  background-color: #ffffff;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.item-partnumber {
  color: #aeaeae;
  text-align: right;
}

.catalog-item-summary h3 {
  font-size: 24px;
  line-height: 30px;
}

.consist {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-contacts {
  margin-right: 90px;
}



.item-image-column {
  display: flex;
  justify-content: space-between;
}

.catalog-item-image {
  width: 460px;
  margin-bottom: 50px;
}

.item-availability {
  padding: 0;
  margin: 0;
}
